#nav-bar{
    background-color: aqua;
}

#content{
    background-color: gray;
    margin: 20px;
    font-weight: bold;
    color: black;
}

h1{
    font-weight: bold;
    color: black;
}

div p{
    margin: 20px;
    font-size: 24px;
}

div h2{
    padding: 5px;
}

